﻿@using Tenderize.Framework.Configuration
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <img src="~/Content/Images/sitecore-icon.png" height="20" alt="logo"/>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                @if (User.IsInRole(Strings.AdminRole) || User.IsInRole(Strings.ContributorRole))
                {
                    <li>@Html.ActionLink("Tenderize", "Index", "Tenderize")</li>
                }
                <li>@Html.ActionLink("Search", "Index", "Search")</li>
                <li>@Html.ActionLink("Tags", "Index", "Tag")</li>
                @if (User.IsInRole(Strings.AdminRole))
                {
                    <li>@Html.ActionLink("Users", "Index", "User")</li>
                }
                    @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@</ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
@*@Html.Action("_MetaTagFilter", "Home")*@
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>Tenderize 3.1</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/app")
@RenderSection("scripts", false)
</body>
</html>