﻿@model Tenderize.Models.ViewModel.MetaTagFilterViewModel
<nav>
    <ul class="list-unstyled main-menu">

        <!--Include your navigation here-->
        <li class="text-right">
            <a href="#" id="nav-close">X</a>
        </li>
        @foreach (var mTag in Model.MetaTags)
        {
            <li>
                @Html.Label(mTag.Value.Item1)
                <input type="checkbox" value="mTag_@(mTag.Key)" @(mTag.Value.Item2 ? "checked" : "")/>
            </li>
        }


        <li>
            <a href="#">Group Example</a>
            <ul class="list-unstyled">
                <li class="sub-nav">
                    <a href="#">Sub Menu One <span class="icon"></span></a>
                </li>
                <li class="sub-nav">
                    <a href="#">Sub Menu Two <span class="icon"></span></a>
                </li>
                <li class="sub-nav">
                    <a href="#">Sub Menu Three <span class="icon"></span></a>
                </li>
                <li class="sub-nav">
                    <a href="#">Sub Menu Four <span class="icon"></span></a>
                </li>
                <li class="sub-nav">
                    <a href="#">Sub Menu Five <span class="icon"></span></a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Menu Four <span class="icon"></span></a>
        </li>
        <li>
            <a href="#">Menu Five <span class="icon"></span></a>
        </li>
    </ul>
</nav>

<div class="navbar navbar-inverse navbar-fixed-top">

    <!--Include your brand here-->
    <a class="navbar-brand" href="#">Off Canvas Menu</a>
    <div class="navbar-header pull-right">
        <a id="nav-expander" class="nav-expander fixed">
            MENU &nbsp;<i class="fa fa-bars fa-lg white"></i>
        </a>
    </div>
</div>