﻿<span class="brand">Reindexing: </span>
<div class="progress">
  <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" style="width: @(ViewBag.Progress)%">
    <span class="sr-only">@(ViewBag.Progress)% Complete</span>
  </div>
</div>

