﻿@model ResourceTracker.Web.Models.aspnet_Users

@{
    ViewBag.Title = "Delete";
}

<h2>Delete User</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>aspnet_Users</legend>

    <div class="display-label">ApplicationId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ApplicationId)
    </div>

    <div class="display-label">UserName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">LoweredUserName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoweredUserName)
    </div>

    <div class="display-label">MobileAlias</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MobileAlias)
    </div>

    <div class="display-label">IsAnonymous</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsAnonymous)
    </div>

    <div class="display-label">LastActivityDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastActivityDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
