﻿@model ResourceTracker.Web.Models.aspnet_Users

@{
    ViewBag.Title = "Details";
}

<h2>User Details</h2>

<fieldset>
    <legend>aspnet_Users</legend>

    <div class="display-label">ApplicationId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ApplicationId)
    </div>

    <div class="display-label">UserName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">LoweredUserName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoweredUserName)
    </div>

    <div class="display-label">MobileAlias</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MobileAlias)
    </div>

    <div class="display-label">Is Approved</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.aspnet_Membership.IsApproved)
    </div>

    <div class="display-label">LastActivityDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastActivityDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
