﻿@using Tenderize.Framework.Configuration
@model ResourceTracker.Web.Models.aspnet_Users

@{
    ViewBag.Title = "Edit.cshtml";
}

<h2>Edit.cshtml</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>User</legend>

        @Html.HiddenFor(model => model.UserId)

        <div class="editor-label">
            @Html.DisplayFor(model => model.UserName)            
        </div>

        <div class="editor-label">
            <label for="admin">Administrator</label>
        </div>
        <div class="editor-field">
            <input type="checkbox" name="admin" id="admin" @(Roles.IsUserInRole(Model.UserName, Strings.AdminRole) ? "checked='checked'" : string.Empty) />
        </div>
        <fieldset>
            <legend>Roles</legend>
            <div class="editor-label">
                <label for="admin">Editor</label>
            </div>
            <div class="editor-field">
                <input type="checkbox" name="editor" id="editor" @(Roles.IsUserInRole(Model.UserName, Strings.AdminRole) ? "checked='checked'" : string.Empty) />
            </div>
        </fieldset>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
