﻿@using  Tenderize.Framework.Configuration
@model IEnumerable<Tenderize.Models.AspNetUser>

@{
    ViewBag.Title = "Index";
}

<div class="container">

    <h1>Users</h1>

    <div class="panel panel-default">
        <div class="panel-heading">Users</div>
        <table class="table table-hover">
            <tr>
                <th>
                    UserName
                </th>
                <th>
                    Email
                </th>
                <th>
                    Is Approved
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @if (item.EmailConfirmed)
                        {
                            @Html.ActionLink("Disable", "Unapprove", new {id = item.Id})
                        }
                        else
                        {
                            @Html.ActionLink("Approve", "Approve", new {id = item.Id})
                        }
                        |
                        @if (item.AspNetRoles.Any(r => r.Name == Strings.AdminRole))
                        {
                            @Html.ActionLink("Demote", "RemoveAdmin", new {id = item.Id})
                        }
                        else
                        {
                            @Html.ActionLink("Promote", "MakeAdmin", new {id = item.Id})
                        }
                        |
                        @if (item.AspNetRoles.Any(r => r.Name == Strings.ContributorRole))
                        {
                            @Html.ActionLink("Remove Contributor", "RemoveRole", new { id = item.Id, role = Strings.ContributorRole })
                        }
                        else
                        {
                            @Html.ActionLink("Add Contributor", "AddToRole", new { id = item.Id, role = Strings.ContributorRole })
                        }
                        |
                        Edit
                        @*@Html.ActionLink("Edit", "Edit", new {id = item.Id}, new {disabled="disabled"})*@ |
                        Details
                        @*@Html.ActionLink("Details", "Details", new {id = item.Id})*@ |
                        @Html.ActionLink("Reset Password", "ResetPassword", new {id = item.Id}) |
                        Delete
                        @*@Html.ActionLink("Delete", "Delete", new {id = item.Id})*@
                        @*@if (item.aspnet_Membership.IsLockedOut)
                            {
                                @Html.Raw("|")
                                @Html.ActionLink("Unlock", "Unlock", new {id=item.UserId})
                            }*@
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
