﻿@using Tenderize.Models
@model Tenderize.Models.IRelational
@{
    var boostClass = "notthumbsup";
    //var questionAnswer = Model.QuestionAnswers.FirstOrDefault(q => q.Answer != null && q.Answer.Tags.Any()); 
    
    QuestionAnswer questionAnswer = null;
    if (Model is Question)
    {
        var question = Model as Question;
        questionAnswer = (from q in question.QuestionAnswers
                              where q.Answer != null
                              orderby q.Answer.Tags.Sum(t => t.Popularity) descending
                              select q).FirstOrDefault();
    }

    if (Model is Answer)
    {
        var answer = Model as Answer;
        questionAnswer = (from a in answer.QuestionAnswers
                         where a.Question != null
                         orderby a.Question.Tags.Sum(t => t.Popularity) descending 
                         orderby a.Question.CreatedDate descending 
                         select a).FirstOrDefault();
    }
    
    //todo: review
    if (questionAnswer != null && questionAnswer.Question.Tags.Any(t => t.Id == ViewBag.Tag.Id))
    {
        boostClass = "thumbsup";
    }
}
<td>
    <p id="q_@(Model.Id)">
        @Html.Raw(Model.Text)
    </p>
</td>
@if (questionAnswer != null)
{
    <td>

        <p class="Answer" id="@(questionAnswer.Answer.Id)">@Html.Raw(questionAnswer.Answer.Text)</p>
    </td>
    <td>
        @using (Ajax.BeginForm("ToggleBoost", new AjaxOptions {UpdateTargetId = "v_" + questionAnswer.Answer.Id, InsertionMode = InsertionMode.Replace}))
        {
            <input type="hidden" name="id" value='@questionAnswer.Answer.Id'/>
            <input type="hidden" name="tagid" value='@ViewBag.Tag.Id'/>
            <input class="@boostClass" type="submit" value=""/>
        }
    </td>
}
else
{
    <td>
        <p class="Answer"></p>
    </td>
    <td></td>
}

