﻿@using Tenderize.Models
@model Tag

@{
  ViewBag.Title = "Sitecore© Tenderizer - Improve";
  ViewBag.Tag = Model;
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Help improve "@Model.Text" search results</h2>
<div class="panel panel-default">
  <div class="panel-heading">
    <a class="btn btn-default btn-xs" href="@Url.Action("Index")">Back to list</a>
    Answers
  </div>
  
  @if ((ViewBag.Results != null && ViewBag.Results.Count != 0))
  {
    <table class="table table-hover">
      <tr>
        <th>Questions</th>
        <th>Answers</th>
      </tr>
      @foreach (IRelational relational in ViewBag.Results)
      {
        <tr id="v_@(relational.Id)">
          @Html.Partial("_QuestionAnswer", relational)
        </tr>
      }
    </table>
  }
</div>
