﻿@using System.Linq
@model System.Collections.Generic.IEnumerable<Tenderize.Models.Tag>

@{
  ViewBag.Title = "Sitecore© Tenderizer - Tags";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
  <h1>Tags</h1>

  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="@Url.Action("UpdatePopularity")" class="btn btn-xs btn-default pull-right">Update Popularity</a>
      Tags
    </div>
    <table class="table table-hover">
      <tr>
        <th>
          Tag
        </th>
        <th>
          Popularity
        </th>
        <th></th>
      </tr>

      @foreach (var tag in Model.OrderByDescending(t => t.Popularity))
      {
        <tr>
          <td class="col-md-6">
            <a href="@Url.Action("Improve", new { id = tag.Id })">@Html.DisplayFor(modelItem => tag.Text)</a>
          </td>
          <td>@tag.Popularity</td>
          <td>
            @Html.ActionLink("Improve", "Improve", new { id = tag.Id }) |
            @Html.ActionLink("Delete", "Delete", new
          {
            id = tag.Id
          })
          </td>
        </tr>
      }

    </table>
  </div>
</div>