﻿@using System.Globalization
@using Tenderize.Models
@model QuestionAnswer
@{
  ViewBag.UpVoteClass = "";
  ViewBag.UpVoteScore = 1;
  ViewBag.DownVoteClass = "";
  ViewBag.DownVoteScore = -1;

    
  if (Model.Question != null && Model.Answer != null)
  {
    var score = Model.Answer.Score;
    if (score > 0)
    {
      ViewBag.UpVoteClass = "active";
      ViewBag.DownVoteClass = "";
      ViewBag.UpVoteScore = 0;
      ViewBag.DownVoteScore = -1;
    }

    if (score < 0)
    {
      ViewBag.UpVoteClass = "";
      ViewBag.DownVoteClass = "active";
      ViewBag.UpVoteScore = 1;
      ViewBag.DownVoteScore = 0;
    }
  }
}           
@if (Model.Answer != null)
{
  <tr id="v_@(Model.Answer.Id)">
    <td id="q_@(Model.Question.Id)">
      <em>@Html.Raw(Model.Question.Text)</em>
    </td>
    <td>
      <span class="Answer" id="@(Model.Answer.Id)">@Html.Raw(Model.Answer.Text)</span>
    </td>
    <td>
      <div>
        <a class="btn btn-success" onclick="useAnswer('@Model.Answer.Id');">Use Answer</a>
      </div>
      <br/>
      <div class="panel panel-info vote">
        <div class="panel-heading">Vote <span class="badge score">@(Model.Answer.Score == 0 ? "" : Model.Answer.Score.ToString(CultureInfo.InvariantCulture))</span></div>
        <div class="panel-body">
          @using (Ajax.BeginForm("Vote", null, new AjaxOptions
          {
            UpdateTargetId = "v_" + Model.Answer.Id,
            InsertionMode = InsertionMode.ReplaceWith
          }, new
          {
            Class = "form-inline"
          }))
          {
            <input type="hidden" name="id" value='@Model.Answer.Id' />
            <input type="hidden" name="score" value='@ViewBag.UpVoteScore' />
            <button type="submit" class="btn btn-default btn-xs @ViewBag.UpVoteClass"><span class="glyphicon glyphicon-hand-up"></span></button>
          }
          @using (Ajax.BeginForm("Vote", null, new AjaxOptions
          {
              UpdateTargetId = "v_" + Model.Answer.Id,
            InsertionMode = InsertionMode.ReplaceWith
          }, new
          {
            Class = "form-inline"
          }))
          {
            <input type="hidden" name="id" value='@Model.Answer.Id' />
            <input type="hidden" name="score" value='@ViewBag.DownVoteScore' />
            <button type="submit" class="btn btn-default btn-xs @ViewBag.DownVoteClass"><span class="glyphicon glyphicon-hand-down"></span></button>
          }
        </div>
      </div>
    </td>
  </tr>
}
