﻿@using Tenderize.Models
@model List<Tenderize.Models.IRelational>
           
@{
  if ((Model == null || !Model.Any()))
  {
    <tr>
      <td class="alert-warning">No results found!</td>
    </tr>
  }
  else
  {
    <tr>
      <th class="col-md-4">Questions</th>
      <th class="col-md-6">Answers</th>
      <th class="col-md-2"></th>
    </tr>
      foreach (var item in Model)
      {
          QuestionAnswer questionAnswer = null;
          if (item is Question)
          {
              var question = item as Question;
              questionAnswer = question.QuestionAnswers.Where(q => q.Answer != null).OrderByDescending(q => q.Answer.Votes.Count).FirstOrDefault();              
          }
          else if (item is Answer)
          {
              var answer = item as Answer;
              questionAnswer = answer.QuestionAnswers.FirstOrDefault();
          }
          
          if (questionAnswer != null)
          {
            @Html.Partial("_QuestionAnswer", questionAnswer)
          }
      }
  }
}


