﻿@model Tenderize.Models.Tender
<tr> 
  <td>
    @if (Model.TenderQuestions.Count() != 0)
    {
      <a href="@Url.Action("Process", new { id = Model.FirstUnanswered.Id })">
        @Html.DisplayFor(modelItem => Model.Name)
      </a>
    }
    else
    {
      @Html.DisplayFor(modelItem => Model.Name)
    }
  </td>
  <td>
    @Html.DisplayFor(modelItem => Model.TenderQuestions.Count)
  </td>
  <td>
    @Html.DisplayFor(modelItem => Model.Date)
  </td>
  <td>
    @if (Model.TenderQuestions.Count() != 0)
    {
      @Html.ActionLink("Open", "Process", new {id = Model.FirstUnanswered.Id})
    }
    
  </td>
  <td>
    @Html.ActionLink("Export", "Export", new
    {
      id = Model.Id
    }) |
    @Html.ActionLink("Import", "Import", new
    {
      id = Model.Id
    }) |
    @Html.ActionLink("Delete", "Delete", new
    {
      id = Model.Id
    }) 
  </td>
</tr>          
