﻿@model Tenderize.Models.Tender

<ul class="dropdown-menu list-group" role="menu">
  @foreach (var tenderQuestion in Model.TenderQuestions.OrderBy(q => q.TenderSequence))
  {
    <li role="presentation" class="list-group-item @(tenderQuestion.HasAnswer ? "" : "list-group-item-warning")">
      <a href="@Url.Action("Process", "Tenderize", new { id = tenderQuestion.Id })" title="@tenderQuestion.Question.Text">
        @tenderQuestion.TenderSequence - @tenderQuestion.Question.Text
      </a>
    </li>
  }
</ul>
