﻿@model Tenderize.Models.Tender
@{
    Layout = "";
}
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Root xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
@foreach (var tenderQuestion in Model.TenderQuestions.OrderBy(q => q.TenderSequence))
{
<Row>
    <Question>@Server.HtmlEncode(tenderQuestion.Question.Text.Trim())</Question>
    <Answer>@Server.HtmlEncode(tenderQuestion.HasAnswer ? tenderQuestion.Answer.Text.Trim() : "")</Answer>
</Row>
}
</Root>
