﻿@using Tenderize.Models
@model Tenderize.Models.ViewModel.EditTenderViewModel

@{
    ViewBag.Title = "Sitecore© Tenderizer - Import";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    <script>
        $(document).ready(function() {
            var next = 1;
            $(".add-more").click(function(e) {
                e.preventDefault();
                var addto = "#field" + next;
                var addRemove = "#field" + (next);
                next = next + 1;
                var newIn = "<input autocomplete=\"off\" class=\"input form-control\" style=\"display:inline\" id=\"field" + next + "\" name=\"field" + next + "\" type=\"text\">";
                var newInput = $(newIn);
                var removeBtn = "<button id=\"remove" + (next - 1) + "\" class=\"btn btn-danger remove-me\">-</button></div><div id=\"field\">";
                var removeButton = $(removeBtn);
                $(addto).after(newInput);
                $(addRemove).after(removeButton);
                $("#field" + next).attr("data-source", $(addto).attr("data-source"));
                $("#count").val(next);

                $(".remove-me").click(function(e) {
                    e.preventDefault();
                    var fieldNum = this.id.charAt(this.id.length - 1);
                    var fieldID = "#field" + fieldNum;
                    $(this).remove();
                    $(fieldID).remove();
                });
            });
        });
    </script>
}

<h2>Import Excel (xlsx)</h2>

<div class="row">
    <h3>Tender details</h3>
    @using (Html.BeginForm("Import", "Tenderize", FormMethod.Post, new {role = "form"}))
    {
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name)
        </div>
        <div class="form-group">
            @Html.Label("Existing MetaTags")
            @foreach (var tag in Model.Tags)
            {
                <div class="checkbox">
                    <label>
                        <input type="checkbox" @(tag.Value.Item2 ? "checked" : "") name="metaTag_@tag.Key"> @tag.Value.Item1
                    </label>
                </div>
            }
        </div>
        <div class="form-group">
            @Html.Label("Create MetaTags")
            <div class="controls" id="profs">
                    <div id="field">
                        <input autocomplete="off" class="input form-control" style="display:inline" id="field1" name="field1" type="text" placeholder="Type something" data-items="8"/><button id="b1" class="btn add-more" type="button">+</button>
                    </div>
            </div>
        </div>

        <div class="form-group">
            @if (ViewBag.ImportFileExists && ViewBag.ExportFileExists)
            {
            <button class="btn btn-default" type="submit" name="action:Save">Save</button>
            <button class="btn btn-default" type="submit" name="action:Import">Import</button>
            }
            else
            {
            <button class="btn btn-default" type="submit" disabled title="Please upload files first" name="action:Import">Import</button>
            }
        </div>
    }
</div>

<div class="row">

    <h3>Q&A Template - Copy of file with Green/Red targeting information </h3>
    <p>Upload one copy of the tender with the question and answer sections marked out in Green and Red Styling. </p>
    <img src="../../Content/images/importexample.PNG"/>
    @if (!ViewBag.ImportFileExists)
    {
        <strong>Missing</strong>
    }
    @using (Html.BeginForm("ImportFile", "Tenderize", FormMethod.Post, new
    {
        enctype = "multipart/form-data"
    }))
    {
        <label for="fuImport">Select File</label>
        @Html.HiddenFor(model => model.Id)
        <input type="file" name="file"/>
        <input type="hidden" name="type" value="import"/>
        <input type="submit" id="btnTemplateUpload" value="Upload"/>
    }


    <h3>Export Copy - Copy of original file that answers will be exported into</h3>
    <p>Upload a copy of the original unmarked tender into which the answers will be populated on export.</p>
    <img src="../../Content/images/importexample2.PNG"/>
    @if (!ViewBag.ExportFileExists)
    {
        <strong>Missing</strong>
    }
    @using (Html.BeginForm("ImportFile", "Tenderize", FormMethod.Post, new
    {
        enctype = "multipart/form-data"
    }))
    {
        <label for="fuImport">Select File</label>
        @Html.HiddenFor(model => model.Id)
        <input type="file" name="file"/>
        <input type="hidden" name="type" value="export"/>
        <input type="submit" id="btnExportUpload" value="Upload"/>
    }




</div>