﻿@model IEnumerable<Tenderize.Models.Tender>

@{
  ViewBag.Title = "Sitecore© Tenderizer - Tenders";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
  <div class="col-md-12">
    <h1 class="well">Sitecore Tenderizer</h1>
  </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}

<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Tenders</h2>
      </div>
      <table class="table table-hover">
        <tr>
          <th>Name</th>
          <th>Questions</th>
          <th>Created</th>
          <th></th>
          <th></th>
        </tr>

        @foreach (var item in Model)
        {
          <tr>
            @Html.Partial("_Tender", item)
          </tr>
        }

      </table>
    </div>
  </div>
  <aside class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Create new</h2>
      </div>
      <div class="panel-body">
        @using (Html.BeginForm("Create", "Tenderize", FormMethod.Post, new { Class = "form-inline" }))
        {
          @Html.ValidationSummary(true)
          <span id="helpBlock" class="help-block">Please enter the name of the new tender</span>
          <div class="form-group">
            <label for="name">New tender</label>
            @Html.TextBox("name", "", new { Class = "form-control" })
          </div>
          <input type="submit" value="Create..." class="btn btn-default" />
        }
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Index tools</h2>
      </div>
      <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation"><a href=@("\"" + System.Configuration.ConfigurationManager.AppSettings["SolrUrl"] + "/update?stream.body=<delete><query>*:*</query></delete>\"")>Prime Delete</a></li>
          <li role="presentation"><a href=@("\"" + System.Configuration.ConfigurationManager.AppSettings["SolrUrl"] + "/update?stream.body=<commit/>\"")>Confirm Delete</a></li>
          <li role="presentation">@Html.ActionLink("Reindex", "Reindex")</li>
        </ul>
        <br/>
        <div class="alert alert-info">
          <div id="reindex_progress">
            @Html.Action("Progress", "Solr")
          </div>
        </div>
      </div>
    </div>
  </aside>
</div>

