﻿@using Tenderize.Models
@model TenderQuestion

@{
    ViewBag.Title = "Sitecore© Tenderizer - Process Tender";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script language="javascript" type="text/javascript">
        $(document).ready(
            window.setInterval(
                function count() {
                    var remain = parseInt(getValue("startTime"));
                    remain = remain - 1;
                    setValue("startTime", remain);
                    $("#time").html(formatOutput(remain));
                }, 1000)
        );
    </script>
}

<div class="row">
    <div class="col-md-12">
        <div class="well ">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Go to Question <span class="caret"></span>
                </button>
                @Html.Partial("_TenderQuestions", Model.Tender)
            </div>
            <h1>@Model.Tender.Name</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12" id="questionColumn">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>
                    Question <strong>@(Model.TenderSequence)/@Model.Tender.TenderQuestions.Count, @Model.Tender.UnansweredQuestionsCount unanswered</strong>
                </h3>
                <span class="pull-right">
          <input type="hidden" id="startTime" value="@Model.Tender.TimeRemaining.TotalSeconds" />
          <span id="estimate">Estimated time remaining: <span id="time"></span></span>
        </span>
                <div class="btn-group">
                    <a class="btn btn-default btn-sm" title="Previous item" href="@Url.Action("Process", "Tenderize", new
                                                                                  {
                                                                                      id = Model.PreviousTenderQuestion()
                                                                                  })">
                        <span class="glyphicon glyphicon-step-backward"></span> Previous Question
                    </a>
                    <a class="btn btn-default btn-sm" title="Next item" href="@Url.Action("Process", "Tenderize", new
                                                                              {
                                                                                  id = Model.NextTenderQuestion()
                                                                              })">
                        Next Question <span class="glyphicon glyphicon-step-forward"></span>
                    </a>
                </div>
                <a class="btn btn-primary btn-sm" title="Next unanswered item" href="@Url.Action("Process", "Tenderize", new
                                                                                     {
                                                                                         id = Model.NextUnanswered.Id
                                                                                     })">
                    Next Unanswered Question <span class="glyphicon glyphicon-fast-forward"></span>
                </a>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4" id="questionColumn">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Question
                            </div>
                            <div class="panel-body">
                                <span id="question"><strong>@Model.QuestionAnswer.Question.Text</strong></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8" id="answerColumn">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Answer
                            </div>
                            <div class="panel-body">
                                <a class="btn btn-link" onclick=" useAnswer('partnertorespond'); ">PARTNER TO RESPOND</a>
                                <span style="display: none;" id="partnertorespond">PARTNER TO RESPOND</span>
                                <a class="btn btn-link" onclick=" useAnswer('partial'); ">PARTIAL</a>
                                <span style="display: none;" id="partial">PARTIAL</span>
                                <a class="btn btn-link" onclick=" useAnswer('fullysupported'); ">Fully Supported.</a>
                                <span style="display: none;" id="fullysupported">Fully Supported.</span>
                                <a class="btn btn-link" onclick=" useAnswer('sitecoresales'); ">SITECORE SALES TO RESPOND</a>
                                <span style="display: none;" id="sitecoresales">SITECORE SALES TO RESPOND</span>

                                @using (Html.BeginForm("Add", "Tenderize"))
                                {
                                    
                                    if (Model.QuestionAnswer.Answer != null)
                                    {
                                        <div class="form-group">
                                            <textarea id="textAdd" style="width: 55%" name="answerText" rows="10" class="form-control">@Model.QuestionAnswer.Answer.Text.Trim()</textarea>
                                        </div>
                                    }
                                    else if (ViewBag.ExactMatchAnswer != null)
                                    {
                                        <input type="hidden" id="hdnAnswerId" name="hdnAnswerId" value="@ViewBag.ExactMatchAnswer.Id" />
                                        <textarea id="textAdd" style="width: 55%" name="answerText" class="span6 exactmatch">@ViewBag.ExactMatchAnswer.Text.Trim()</textarea>
                                    }
                                    else
                                    {
                                        <input type="hidden" id="hdnAnswerId" name="hdnAnswerId" />
                                        <textarea id="textAdd" style="width: 55%" name="answerText" class="span6 exactmatch"></textarea>
                                    }
                                    if (Model.QuestionAnswer.Answer == null && ViewBag.ExactMatchAnswer != null)
                                    {
                                        <span class="exactmatch"><img alt="green tick" src="/Content/images/Alarm-Tick-icon.png" />Exact Match on Question</span>
                                    }
                                    @Html.HiddenFor(model => model.Id)
                                    @Html.Hidden("nextQuestionId", Model.NextUnanswered.Id)
                                    <div class="pull-right">
                                        <button name="clear" type="button" value="clear" class="btn btn-default" onclick=" clearval('textAdd'); clearval('hdnAnswerId'); "><span class="glyphicon glyphicon-erase" ></span> Clear</button>
                                        <button name="submit" type="submit" value="save" class="btn btn-default"><span class="glyphicon glyphicon-save" ></span> Save</button>
                                        <button name="submit" type="submit" value="next" class="btn btn-primary">Save and Next <span class="glyphicon glyphicon-fast-forward"></span></button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-success">
            <div class="panel-heading">
                <button class="btn btn-success btn-sm" data-toggle="collapse" data-target="#filter"><span class="glyphicon glyphicon-search"></span> Search</button>
            </div>
            <div id="filter" class="panel-body collapse">
                <div class="row">
                    <div class="col-md-6">
                        @using (Ajax.BeginForm("Search", "Tenderize", new AjaxOptions
                        {
                            HttpMethod = "GET",
                            UpdateTargetId = "searchResults",
                            LoadingElementId = "loading",
                            OnBegin = "$('#searchResults').html('')"
                        }))
                        {
                            <div class="form-group">
                                <input type="text" name="query" id="searchText" class="form-control"/>
                                @Html.HiddenFor(model => model.Id)
                            </div>
                            <input type="submit" value="Search" class="btn btn-success"/>
                        }
                    </div>

                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Filter
                            </div>
                            <div class="panel-body">
                                @using (Ajax.BeginForm("Search", "Tenderize", new AjaxOptions
                                {
                                    HttpMethod = "GET",
                                    UpdateTargetId = "searchResults",
                                    LoadingElementId = "loading",
                                    OnBegin = "$('#searchResults').html('')"
                                }, new {Class = "form-inline"}))
                                {
                                    foreach (Tag tag in ViewBag.MatchingTags)
                                    {
                                        <input type="hidden" name="query" id="searchText" value="@tag.Text"/>
                                        @Html.HiddenFor(model => model.Id)
                                        <input type="submit" value="@tag.Text" class="btn btn-link"/>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div id="loading" style="display: none;" class="row">
                    <div class="alert alert-info" role="alert">Searching...</div>
                </div>
            </div>
            <table id="searchResults" class="table">
                @Html.Partial("_SearchResults", ViewBag.Results as List<IRelational>)
            </table>
        </div>
    </div>
</div>