﻿@using System.Web.Configuration
@using Tenderize.Models
@model Tenderize.Models.IRelational
@{
    Question question;
    Answer answer;
    if (Model is Question)
    {
        question = (Question) Model;
        //answer = question.QuestionAnswers.FirstOrDefault()
        answer = (from q in question.QuestionAnswers
            where q.Answer != null
            orderby q.Answer.Tags.Sum(t => t.Popularity) descending
            select q.Answer).FirstOrDefault();
    }
    else
    {
        answer = (Answer) Model;
        
        //todo: order by created date - need to add field to db
        question = (from a in answer.QuestionAnswers
            select a.Question).FirstOrDefault();

    }
  //var vote = Model..First().Votes.FirstOrDefault(v => v.Username == User.Identity.Name);
  //if (vote != null)
  //{
  //  if (vote.Score > 0)
  //  {
  //    ViewBag.UpVoteClass = "upVoted";
  //    ViewBag.UpVoteScore = 0;
  //    ViewBag.DownVoteClass = "downVote";
  //    ViewBag.DownVoteScore = -1;
  //  }
  //  else
  //  {
  //    ViewBag.UpVoteClass = "upVote";
  //    ViewBag.UpVoteScore = 1;
  //    ViewBag.DownVoteClass = "downVoted";
  //    ViewBag.DownVoteScore = 0;
  //  }
  //}
  //else
  //{
  //  ViewBag.UpVoteClass = "upVote";
  //  ViewBag.UpVoteScore = 1;
  //  ViewBag.DownVoteClass = "downVote";
  //  ViewBag.DownVoteScore = -1;
  //}
}

@if (answer != null) {
    <tr id="v_@(answer.Id)">
        @if (question != null)
        {
            <td id="q_@(question.Id)">
                @Html.Raw(question.Text)
            </td>
        }
        else
        {
            <td></td>
        }
        <td class="Answer" id="@(answer.Id)">
            @Html.Raw(answer.Text)
        </td>
    </tr>
}
