﻿@using System.Linq
@model List<Tenderize.Models.IRelational>
           
@{
  string term = ViewBag.Term;
}

<div class="panel panel-primary">
  <div class="panel-heading">
    Search Results
  </div>
    @{
      if ((Model == null || !Model.Any()))
      {
        <div class="panel-body">
          No results found!
        </div>      
      }
      else
      {
        <div class="panel-body">
          Searched for: @ViewBag.Term
        </div>
        <table class="table table-hover">
          <tr>
            <th class="col-md-4">Questions</th>
            <th class="col-md-6">Answers</th>
          </tr>
          @{
            foreach (var question in Model)
            {
              @Html.Partial("_QuestionAnswer", question)
            }
          }

        </table>
      }
    }
  </div>
