﻿@using System.Collections.Generic
@using Tenderize.Models

@{
  ViewBag.Title = "Sitecore© Tenderizer - Search";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Search</h1>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Search for Question
      </div>
      <div class="panel-body">
        @using (Ajax.BeginForm("QuestionSearch", "Search", new AjaxOptions
        {
          HttpMethod = "GET",
          UpdateTargetId = "searchResults",
          LoadingElementId = "loading",
          OnBegin = "$('#searchResults').html('')"
        }))
        {
          <div class="form-group">
            <textarea id="textAdd" rows="5" name="query" class="form-control"></textarea>
          </div>
          <input type="submit" value="Search" />
        }
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Search for specific term
      </div>
      <div class="panel-body">

        @using (Ajax.BeginForm("Search", "Search", new AjaxOptions
        {
          HttpMethod = "GET",
          UpdateTargetId = "searchResults",
          LoadingElementId = "loading",
          OnBegin = "$('#searchResults').html('')"
        }))
        {
          <div class="form-group">
            <input type="text" name="query" id="searchText" class="form-control" />
          </div>
          <input type="submit" value="Search" />
        }
      </div>
    </div>
  </div>
</div>
<div id="loading" style="display: none;" class="row">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">Searching...</div>
  </div>
</div>

<div class="row">
  <div class="col-md-12" id="searchResults">
    @Html.Partial("_SearchResults", ViewBag.Results as List<Question>)

  </div>
</div>
